.Calendar {
  width: 90vh;
  height: 90vh;
}

/* - - - - - - - - - - - - - - - - - - - - - */

.TopLine {
  display: flex;
}

.MonthName {
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
}

.MonthLister {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MonthLister a {
  background: none;
  border: none;
}
.MonthLister .today {
  margin: 0 8px;
}
.MonthLister .today,
.MonthLister .arrow {
  cursor: pointer;
  padding: 3px 7px;
}

.MonthLister .arrow div {
  width: 6px;
  height: 6px;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
}
.MonthLister .arrow.arrow-left div {
  transform: rotate(-135deg);
}
.MonthLister .arrow.arrow-right div {
  transform: rotate(45deg);
}

/* - - - - - - - - - - - - - - - - - - - - - */
.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.DayNames {
  margin-top: 30px;
  width: 100%;
  display: flex;
}
.DayNames div {
  flex-grow: 0;
  flex-shrink: 0;
  color: #454545;
  width: 14.285%;
  text-align: right;
}

.MonthDays {
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
  display: flex;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  box-sizing: border-box;
}
.MonthDay {
  flex-grow: 0;
  flex-shrink: 0;
  color: #454545;
  width: 14.285%;
  height: 80px;
  text-align: right;
  border-left: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  box-sizing: border-box;
  /*padding: 3px 5px;*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.MonthDay.others {
  color: silver;
}

.MonthDay.today {
  background: #ddf1ff;
}

.MonthDay .dayName {
  width: 20px;
  height: 20px;
  margin: 3px 5px;
}

.MonthDay.today .dayName {
  margin: 3px;
  background: #008bf1;
  border-radius: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
}

.AddEvent {
  cursor: pointer;
  color: silver;
  padding: 1px 3px;
  font-size: 0.7rem;
}
.AddEvent:hover {
  color: #008bf1;
}

/* - - - - - - - - - - - - - - - - - - - - - */

.Events {
  width: 100%;
}

.Event {
  position: relative;
  padding: 1px 3px;
  font-size: 0.7rem;
  background: #008bf1;
  cursor: pointer;
  margin-bottom: 1px;
}
.EventLabel {
  display: flex;
  color: #fff;
  overflow: hidden;
  width: 100%;
  flex-wrap: nowrap;
}
.EventTime {
  white-space: nowrap;
  margin-right: 2px;
  font-weight: bold;
}
.EventSubject {
  white-space: nowrap;
}
.EventDetails {
  z-index: 1;
  position: absolute;
  left: 105%;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  padding: 5px;
}
.EventDetails > div {
  padding: 5px;
}
.EventDetails input {
  /*border: 1px solid silver;*/
  border-radius: 4px;
  border: none;
  background: #f0f8fb;
  padding: 6px 8px;
}
.DeleteEvent {
  color: red;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
.footer-text {
  text-align: center;
  font-size: 0.8rem;
  color: black;

  display: block;
  content: "\A";
  white-space: pre;
}
.Footer {
  color: black;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RemoveAll {
  color: #008bf1;
}
